.light {
  --text: #faecdd;
  --background: #110903;
  --primary: #eec08b;
  --secondary: #15318e;
  --accent: #c922df;
}

.dark {
  --text: #faf0e6;
  --background: #352f44;
  --primary: #5c5470;
  --secondary: #b9b4c7;
  --accent: #e77544;
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 0 12%;
  background-color: var(--background);
  color: var(--text);
}

section {
  margin-bottom: 5rem;
}

p {
  font-size: 18px;
}

a {
  color: var(--accent);
}

.title {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 1rem;
}
