.light {
  --text: #131c26;
  --background: #faf0e6;
  --accent: #e77544;
}

.dark {
  --text: #faf0e6;
  --background: #131c26;
  --accent: #e77544;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background);
  color: var(--text);
}

section {
  margin-bottom: 5rem;
}

p {
  font-size: 18px;
}

a {
  color: var(--accent);
}

.title {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 1rem;
}
