.introSection {
  margin-top: 8rem;
}

.introIntro {
  font-weight: 400;
  font-size: 4.5rem;
}

.introMeText {
  width: 70%;
  margin-top: 1rem;
}

.cvLink {
  font-weight: 700;
  font-size: 1.5rem;
  position: relative;
}

.cvLink::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  height: 2px;
  width: 0%;
  background-color: var(--accent);
  transition: all ease-in 0.5s;
}

.cvLink:hover::after {
  width: 100%;
}
