.nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navList {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--accent);
}

.navListItem {
  position: relative;
}

.navListItem a:hover {
  cursor: pointer;
}

.navListItem a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  display: block;
  height: 2px;
  width: 0%;
  background-color: var(--accent);
  transition: all ease-in 0.25s;
}

.navListItem a:hover::after {
  width: 100%;
}

.iconButton {
  background-color: var(--background);
  color: var(--accent);
  min-width: 24px;
  cursor: pointer;
}
