.nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navList {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--accent);
}

.iconButton {
  background-color: var(--background);
  color: var(--accent);
  min-width: 24px;
}
