.project {
  width: 100%;
  display: flex;
  position: relative;
}

.projectName {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

.techStack {
  width: 20rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.tech {
  background-color: var(--text);
  color: var(--background);
  padding: 0.125rem;
}

.description {
  max-width: 95%;
  margin-bottom: 1rem;
}

.links {
  display: flex;
  gap: 1.5rem;
}

.link {
  background-color: var(--accent);
  color: var(--text);
  padding: 0.75rem 1rem;
  display: block;
  width: fit-content;
  transition: transform ease 0.3s;
}

.link:hover {
  transform: scale(1.2);
}

.previewImage {
  max-width: 400px;
  align-self: center;
  border-radius: 0.5rem;
  transition: transform ease 0.5s;
  cursor: pointer;
}

.previewImage:hover {
  transform: scale(1.1);
}
